<h1>Editar Usuário</h1>

<form action="/users/edit/{{user.id}}" method="POST">
  <label>Nome:</label>
  <input type="text" name="name" value="{{user.name}}" required>

  <label>Email:</label>
  <input type="email" name="email" value="{{user.email}}" required>

  <label>Curso (Major):</label>
  <select name="majorId">
    <option value="">Nenhum</option>
    {{#each majors}}
      <option value="{{this.id}}" {{#if (eq this.id ../user.majorId)}}selected{{/if}}>{{this.name}}</option>
    {{/each}}
  </select>

  <button type="submit">Atualizar</button>
</form>
